{% assign author = site.authors | where: "name", page.author | first %}
{% if author %}
<div class="profile-content-wrapper">
    <!-- Settings Option-->
    <div class="profile-settings-option">
      <a href="#" data-toggle="tooltip" data-placement="left" title="Follow">
        <i class="lni lni-plus"></i>
      </a>
    </div>

    <div class="container">
      <!-- User Meta Data-->
      <div class="user-meta-data d-flex align-items-center">
        <!-- User Thumbnail-->
        <div class="user-thumbnail">
          <img src="{{ author.photo }}" alt="">
        </div>
        <!-- User Content-->
        <div class="user-content">
          <h6>{{ author.display_name }}</h6>
          <p>Publisher</p>
          <div class="user-meta-data d-flex align-items-center justify-content-between">
            <p class="mx-1"><span class="counter">432</span><span>Articles</span></p>
            <p class="mx-1"><span class="counter">302</span><span>Followers</span></p>
            <p class="mx-1"><span class="counter">104</span><span>Following</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign author_urls = '' %}
  {% if author.github_username %}
      {% assign author_urls = author_urls | append: '"https://github.com/' | append: author.github_username | append: '",' %}
  {% endif %}
  {% if author.facebook_username %}
      {% assign author_urls = author_urls | append: '"https://www.facebook.com/' | append: author.facebook_username | append: '",' %}
  {% endif %}
  {% if author.twitter_username %}
      {% assign author_urls = author_urls | append: '"https://twitter.com/' | append: author.twitter_username | append: '",' %}
  {% endif %}
  {% if author.medium_username %}
      {% assign author_urls = author_urls | append: '"https://medium.com/@' | append: author.medium_username | append: '",' %}
  {% endif %}
  {% if author.instagram_username %}
      {% assign author_urls = author_urls | append: '"https://www.instagram.com/' | append: author.instagram_username | append: '",' %}
  {% endif %}
  {% if author.linkedin_username %}
      {% assign author_urls = author_urls | append: '"https://www.linkedin.com/in/' | append: author.linkedin_username | append: '",' %}
  {% endif %}

  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ author.display_name }}",
      {% if author.photo %}
      "image": "{{ author.photo }}",
      {% else %}
      "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
      {% endif %}
      "jobTitle": "{{ author.position }}",
      "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
      "sameAs": [
        {{ author_urls | split: "," | join: "," }}
      ]
  }
  </script>
{% endif %}
