<div class="footer-nav-area" id="footerNav">
    <div class="newsten-footer-nav h-100">
      <ul class="h-100 d-flex align-items-center justify-content-between">
        <li class="active">
          <a href="index.html">
            <i class="lni lni-home"></i>
          </a>
        </li>
        <li>
          <a href="catagory.html">
            <i class="lni lni-grid-alt"></i>
          </a>
        </li>
        <li>
          <a href="trending.html">
            <i class="lni lni-bolt-alt"></i>
          </a>
        </li>
        <li>
          <a href="pages.html">
            <i class="lni lni-heart"></i>
          </a>
        </li>
        <li>
          <a href="bookmark.html">
            <i class="lni lni-bookmark"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>