<div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
      <!-- Navbar Toggler-->
      <div class="navbar--toggler" id="newstenNavbarToggler"><span></span><span></span><span></span><span></span></div>

      <!-- Logo-->
      <div class="logo-wrapper">
        <a href="default.html">
          <!-- <img src="img/core-img/logo.png" alt=""> -->
          <h1>T club</h1>
        </a>
      </div>

      <!-- Search Form-->
      <div class="search-form">
        <a href="search.html">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
  </div>