<!DOCTYPE html>
<html lang="en">
<body>
  <div class="page-content-wrapper">
    <!-- News Today Wrapper-->
    <div class="news-today-wrapper">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="mb-3 pl-1 newsten-title">Popular</h5>
          <p class="mb-3 line-height-1" id="dashboardDate2"></p>
        </div>

        <!-- Hero Slides-->
        <div class="hero-slides owl-carousel">
        {% include single-hero-slide.html %}

        </div>
      </div>
    </div>

    <!-- Top Catagories Wrapper-->
    {% include top-cat.html %}

    <!-- Trending News Wrapper-->
    <div class="trending-news-wrapper">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0 pl-1 newsten-title">Trending</h5>
          <a class="btn btn-primary btn-sm" href="trending.html">View
            All</a>
        </div>
      </div>

      <div class="container">
        <!-- Single Trending Post-->
        <div class="single-trending-post d-flex">
          <div class="post-thumbnail">
            <img src="img/bg-img/11.jpg" alt="">
          </div>
          <div class="post-content">
            <a class="post-title" href="single.html">Swimming is a good exercise for the
              body</a>
            <div class="post-meta d-flex align-items-center">
              <a href="catagory.html">Sports</a>
              <a href="#">02 Jun 20</a>
            </div>
          </div>
        </div>

        <!-- Single Trending Post-->
        <div class="single-trending-post d-flex">
          <div class="post-thumbnail">
            <div class="video-icon">
              <i class="lni lni-play"></i>
            </div>
            <img src="img/bg-img/16.jpg" alt="">
          </div>
          <div class="post-content">
            <a class="post-title" href="single.html">The drone is banned in BD without
              permission</a>
            <div class="post-meta d-flex align-items-center">
              <a href="catagory.html">Tech</a>
              <a href="#">03 Jun 20</a>
            </div>
          </div>
        </div>

        <!-- Single Trending Post-->
        <div class="single-trending-post d-flex">
          <div class="post-thumbnail">
            <img src="img/bg-img/17.jpg" alt="">
          </div>
          <div class="post-content">
            <a class="post-title" href="single.html">Some tips for taking care of the body this
              summer</a>
            <div class="post-meta d-flex align-items-center">
              <a href="catagory.html">Fashion</a>
              <a href="#">04 Jun
                20</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Editorial Choice News Wrapper-->
    <div class="editorial-choice-news-wrapper">
      <!-- Background Shapes-->
      <div class="bg-shape1"><img src="img/core-img/edito.png" alt=""></div>
      <div class="bg-shape2" style="background-image: url('img/core-img/edito2.png')"></div>

      <div class="container">
        <div class="editorial-choice-title text-center mb-4"><i class="lni lni-protection"></i>
          <h6 class="newsten-title">Hacker's Choice</h6>
        </div>
      </div>

      <div class="container">
        <!-- Editorial-hacker Choice News Slide-->
        {% include edit-choice.html %}
      </div>
    </div>

    <!-- For You News Wrapper-->
    <div class="for-you-news-wrapper">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="mb-0 pl-1 newsten-title">For You</h5>
          <a class="btn btn-primary btn-sm" href="#">View All</a>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <a class="bookmark-post" href="#">
                <i class="lni lni-bookmark"></i>
              </a>
              <div class="post-thumbnail">
                <img src="img/bg-img/18.jpg" alt="">
              </div>
              <div class="post-content">
                <a class="post-catagory" href="catagory.html">Health</a>
                <a class="post-title" href="single.html">Lemon is useful to lose weight</a>
              </div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <a class="bookmark-post" href="#">
                <i class="lni lni-bookmark"></i>
              </a>
              <div class="post-thumbnail">
                <img src="img/bg-img/19.jpg" alt="">
              </div>
              <div class="post-content">
                <a class="post-catagory" href="catagory.html">World</a>
                <a class="post-title" href="single.html">World is getting warm rapidly</a>
              </div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <a class="bookmark-post" href="#">
                <i class="lni lni-bookmark"></i>
              </a>
              <div class="post-thumbnail">
                <img src="img/bg-img/9.jpg" alt="">
              </div>
              <div class="post-content">
                <a class="post-catagory" href="catagory.html">Sports</a>
                <a class="post-title" href="single.html">WBL was held in June 2020</a>
              </div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <div class="video-icon">
                <i class="lni lni-play"></i>
              </div>
              <a class="bookmark-post" href="#">
                <i class="lni lni-bookmark"></i>
              </a>
              <div class="post-thumbnail">
                <img src="img/bg-img/15.jpg" alt="">
              </div>
              <div class="post-content">
                <a class="post-catagory" href="catagory.html">Lifestyle</a>
                <a class="post-title" href="single.html">Make yummy toast in home</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Tabs News Wrapper-->
    {% include tab-news.html %}

    <!-- Popular Tags-->
    <div class="popular-tags-wrapper">
      <div class="container">
        <h5 class="mb-3 pl-2 newsten-title">Popular Tags</h5>
      </div>

      <div class="container">
        <!-- Popular Tags List-->
        <div class="popular-tags-list">
          <a class="btn btn-primary btn-sm m-1" href="#">#Politics</a>
          <a class="btn btn-success btn-sm m-1" href="#">#Fashion</a>
          <a class="btn btn-warning btn-sm m-1" href="#">#Tech</a>
          <a class="btn btn-danger btn-sm m-1" href="#">#Lifestyle</a>
          <a class="btn btn-info btn-sm m-1" href="#">#Sports</a>
          <a class="btn btn-success btn-sm m-1" href="#">#World</a>
          <a class="btn btn-warning btn-sm m-1" href="#">#Environment</a>
          <a class="btn btn-danger btn-sm m-1" href="#">#People</a>
          <a class="btn btn-info btn-sm m-1" href="#">#Gadgets</a>
          <a class="btn btn-success btn-sm m-1" href="#">#Health</a>
          <a class="btn btn-primary btn-sm m-1" href="#">#Wildlife</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>