<div class="profile-content-wrapper">
    <!-- Settings Option-->
    <div class="profile-settings-option">
      <a href="#" data-toggle="tooltip" data-placement="left" title="Follow">
        <i class="lni lni-plus"></i>
      </a>
    </div>

    <div class="container">
      <!-- User Meta Data-->
      <div class="user-meta-data d-flex align-items-center">
        <!-- User Thumbnail-->
        <div class="user-thumbnail">
          <img src="img/bg-img/3.jpg" alt="">
        </div>
        <!-- User Content-->
        <div class="user-content">
          <h6>Lim Sarah</h6>
          <p>Publisher</p>
          <div class="user-meta-data d-flex align-items-center justify-content-between">
            <p class="mx-1"><span class="counter">432</span><span>Articles</span></p>
            <p class="mx-1"><span class="counter">302</span><span>Followers</span></p>
            <p class="mx-1"><span class="counter">104</span><span>Following</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>