 <!-- Single Hero Slide-->
 <div class="single-hero-slide" style="background-image: url('img/bg-img/4.jpg')">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <div class="slide-content h-100 d-flex align-items-end">
      <div class="container-fluid mb-3">
        <div class="video-icon">
          <i class="lni lni-play"></i>
        </div>
        <a class="bookmark-post" href="#"><i class="lni lni-bookmark"></i></a>
        <a class="post-catagory" href="catagory.html">Sentinel</a>
        <a class="post-title d-block" href="/welcome">Multiple Login Failure</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#"><i class="mr-1 lni lni-user"></i>Mayaj</a>
          <a href="#"><i class="mr-1 lni lni-calendar"></i>26 March</a>
          <span><i class="mr-1 lni lni-bar-chart"></i>4 min read</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Single Hero Slide-->
  <div class="single-hero-slide" style="background-image: url('img/bg-img/2.jpg')">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <div class="slide-content h-100 d-flex align-items-end">
      <div class="container-fluid mb-3">
        <a class="bookmark-post" href="#"><i class="lni lni-bookmark"></i></a>
        <a class="post-catagory" href="catagory.html">MDE</a>
        <a class="post-title d-block" href="single.html">Malicious URl </a>
        <div class="post-meta d-flex align-items-center">
          <a href="#"><i class="mr-1 lni lni-user"></i>Lim</a>
          <a href="#"><i class="mr-1 lni lni-calendar"></i>23 March</a>
          <span><i class="mr-1 lni lni-bar-chart"></i>9 min read</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Single Hero Slide-->
  <div class="single-hero-slide" style="background-image: url('img/bg-img/5.jpg')">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <div class="slide-content h-100 d-flex align-items-end">
      <div class="container-fluid mb-3">
        <a class="bookmark-post" href="#"><i class="lni lni-bookmark"></i></a>
        <a class="post-catagory" href="catagory.html">Azure</a>
        <a class="post-title d-block" href="single.html">Signin Logs </a>
        <div class="post-meta d-flex align-items-center">
          <a href="#"><i class="mr-1 lni lni-user"></i>Nazrul</a>
          <a href="#"><i class="mr-1 lni lni-calendar"></i>21 March</a>
          <span><i class="mr-1 lni lni-bar-chart"></i>3 min read</span>
        </div>
      </div>
    </div>
  </div>