<div class="container">
    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/11.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">Swimming is a good exercise for the
          body</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Sports</a>
          <a href="#">02 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <div class="video-icon">
          <i class="lni lni-play"></i>
        </div>
        <img src="img/bg-img/16.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">The drone is banned in BD without
          permission</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Tech</a>
          <a href="#">03 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/17.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">Some tips for taking care of the body this
          summer</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Fashion</a>
          <a href="#">04 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/11.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">Swimming is a good exercise for the
          body</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Sports</a>
          <a href="#">02 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <div class="video-icon">
          <i class="lni lni-play"></i>
        </div>
        <img src="img/bg-img/16.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">The drone is banned in BD without
          permission</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Tech</a>
          <a href="#">03 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/17.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">Some tips for taking care of the body this
          summer</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Fashion</a>
          <a href="#">04 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/11.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">Swimming is a good exercise for the
          body</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Sports</a>
          <a href="#">02 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <div class="video-icon">
          <i class="lni lni-play"></i>
        </div>
        <img src="img/bg-img/16.jpg" alt="">
      </div>
      <div class="post-content">
        <a class="post-title" href="single.html">The drone is banned in BD without
          permission</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Tech</a>
          <a href="#">03 Jun 22</a>
        </div>
      </div>
    </div>

    <!-- Single Trending Post-->
    <div class="single-trending-post d-flex">
      <div class="post-thumbnail">
        <img src="img/bg-img/17.jpg" alt=""></div>
      <div class="post-content">
        <a class="post-title" href="single.html">Some tips for taking care of the body this
          summer</a>
        <div class="post-meta d-flex align-items-center">
          <a href="#">Fashion</a>
          <a href="#">04 Jun 22</a>
        </div>
      </div>
    </div>
  </div>