<div class="tabs-news-wrapper bg-gray">
    <div class="container">
      <!-- Nav Tabs-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-newest-tab" href="#nav-newest" data-toggle="tab" role="tab"
            aria-controls="nav-newest" aria-selected="true">Secuity</a>
          <a class="nav-item nav-link active" id="nav-popular-tab" href="#nav-popular" data-toggle="tab" role="tab"
            aria-controls="nav-popular" aria-selected="false">Query</a>
          <a class="nav-item nav-link" id="nav-featured-tab" href="#nav-featured" data-toggle="tab" role="tab"
            aria-controls="nav-featured" aria-selected="false">Documentation</a>
        </div>
      </nav>

      <!-- Tabs Content-->
      <div class="tab-content" id="nav-tabContent">
        <!-- Single Tab Pane-->
        <div class="tab-pane fade" id="nav-newest" role="tabpanel" aria-labelledby="nav-newest-tab">

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <div class="video-icon">
                <i class="lni lni-play"></i>
              </div>
              <img src="img/bg-img/20.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">Morning walking &amp; running is good
                for health</a>
              <div class="post-meta d-flex align-items-center">
                <a href="#">9 min ago</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/21.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">BD celebrate independence day in 26
                march</a>
              <div class="post-meta d-flex align-items-center">
                <a href="#">33 min ago</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/22.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">Skating nowadays very popular sports in
                sea area</a>
              <div class="post-meta d-flex align-items-center">
                <a href="#">57 min ago</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Tab Pane-->
        <div class="tab-pane fade show active" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/23.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">The ship of the desert reducing rapidly
                in the world</a>
              <div class="post-meta d-flex align-items-center">
                <a href="catagory.html">Camel</a>
                <a href="#">2
                  Comments</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <div class="video-icon">
                <i class="lni lni-play"></i>
              </div>
              <img src="img/bg-img/24.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">Why you will eat apple & banana every
                day</a>
              <div class="post-meta d-flex align-items-center">
                <a href="catagory.html">Habits</a>
                <a href="#">8
                  Comments</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/25.jpg" alt=""></div>
            <div class="post-content">
              <a class="post-title" href="single.html">Satellite now producing more waste on
                the planet</a>
              <div class="post-meta d-flex align-items-center">
                <a href="catagory.html">Planet</a>
                <a href="#">6
                  Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Tab Pane-->
        <div class="tab-pane fade" id="nav-featured" role="tabpanel" aria-labelledby="nav-featured-tab">

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/26.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">Balcony gardening is a new trend of big
                cities</a>
              <div class="post-meta d-flex align-items-center">
                <a href="profile-for-viewer.html">Mayaj</a>
                <a href="#">9 min read</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <div class="video-icon">
                <i class="lni lni-play"></i>
              </div>
              <img src="img/bg-img/27.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">The world is becoming polluted very
                fast and lives are being destroyed</a>
              <div class="post-meta d-flex align-items-center">
                <a href="profile-for-viewer.html">Nazrul</a>
                <a href="#">27 min read</a>
              </div>
            </div>
          </div>

          <!-- Single News Post-->
          <div class="single-news-post d-flex align-items-center">
            <div class="post-thumbnail">
              <img src="img/bg-img/28.jpg" alt="">
            </div>
            <div class="post-content">
              <a class="post-title" href="single.html">Sea is polluted in a terrible way by
                human garbage</a>
              <div class="post-meta d-flex align-items-center">
                <a href="profile-for-viewer.html">Suha</a>
                <a href="#">59 min read</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>