<div class="popular-tags-wrapper">
    <div class="container">
      <h5 class="mb-3 pl-2 newsten-title">Popular Tags</h5>
    </div>

    <div class="container">
      <!-- Popular Tags List-->
      <div class="popular-tags-list">
        <a class="btn btn-primary btn-sm m-1" href="#">#Politics</a>
        <a class="btn btn-success btn-sm m-1" href="#">#Fashion</a>
        <a class="btn btn-warning btn-sm m-1" href="#">#Tech</a>
        <a class="btn btn-danger btn-sm m-1" href="#">#Lifestyle</a>
        <a class="btn btn-info btn-sm m-1" href="#">#Sports</a>
        <a class="btn btn-success btn-sm m-1" href="#">#World</a>
        <a class="btn btn-warning btn-sm m-1" href="#">#Environment</a>
        <a class="btn btn-danger btn-sm m-1" href="#">#People</a>
        <a class="btn btn-info btn-sm m-1" href="#">#Gadgets</a>
        <a class="btn btn-success btn-sm m-1" href="#">#Health</a>
        <a class="btn btn-primary btn-sm m-1" href="#">#Wildlife</a>
      </div>
    </div>
  </div>