<div class="top-catagories-wrapper">
    <div class="bg-shapes">
      <div class="shape1"></div>
      <div class="shape2"></div>
      <div class="shape3"></div>
      <div class="shape4"></div>
      <div class="shape5"></div>
    </div>

    <h6 class="mb-3 catagory-title">Top Catagories</h6>
    <div class="container">
      <!-- Catagory Slides-->
      <div class="catagory-slides owl-carousel">
        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/8.jpg" alt="">
            <h6>Azure</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/3.jpg" alt="">
            <h6>Threat Modeling</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/6.jpg" alt="">
            <h6>Tech</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/15.jpg" alt="">
            <h6>Meetups</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/9.jpg" alt="">
            <h6>Documentations</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/10.jpg" alt="">
            <h6>Labs</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/14.jpg" alt="">
            <h6>Cheatsheets</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/13.jpg" alt="">
            <h6>People</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/12.jpg" alt="">
            <h6>SOC</h6>
          </a>
        </div>

        <!-- Catagory Card-->
        <div class="card catagory-card">
          <a href="catagory.html">
            <img src="img/bg-img/7.jpg" alt="">
            <h6>Red Teaming</h6>
          </a>
        </div>
      </div>
    </div>
  </div>