<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <!-- Preloader-->
 {% include preloader.html %}

  <!-- Header Area-->
 {% include header-tabs.html %}

  <div class="page-content-wrapper">
    <!-- For You News Wrapper-->
    <div class="for-you-news-wrapper">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="mb-0 newsten-title">For You</h5>
          <p class="mb-0 line-height-1">12 Posts</p>
        </div>
      </div>

      <div class="container">
        <div class="row">

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/18.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Health</a><a class="post-title"
                  href="single.html">Lemon is useful to lose weight</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/19.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">World</a><a class="post-title"
                  href="single.html">World is getting warm rapidly</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/9.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Sports</a><a class="post-title"
                  href="single.html">WBL was held in June 2020</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <div class="video-icon"><i class="lni lni-play"></i></div>
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/15.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Lifestyle</a><a class="post-title"
                  href="single.html">Make yummy toast in home</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/18.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Health</a><a class="post-title"
                  href="single.html">Lemon is useful to lose weight</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/19.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">World</a><a class="post-title"
                  href="single.html">World is getting warm rapidly</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/9.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Sports</a><a class="post-title"
                  href="single.html">WBL was held in June 2020</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <div class="video-icon"><i class="lni lni-play"></i></div>
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/15.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Lifestyle</a><a class="post-title"
                  href="single.html">Make yummy toast in home</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/18.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">Health</a><a class="post-title"
                  href="single.html">Lemon is useful to lose weight</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          <div class="col-6 col-md-4">
            <div class="single-recommended-post mt-3">
              <!-- Customize Button-->
              <div class="bookmark-customize-option">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="lni lni-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cut"></i>Remove</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-crop"></i>Edit</button>
                  <button class="dropdown-item" type="button"><i class="mr-1 lni lni-cog"></i>Settings</button>
                </div>
              </div>
              <div class="post-thumbnail"><img src="img/bg-img/19.jpg" alt=""></div>
              <div class="post-content"><a class="post-catagory" href="#">World</a><a class="post-title"
                  href="single.html">World is getting warm rapidly</a></div>
            </div>
          </div>

          <!-- Single Recommended Post-->
          

          <!-- Single Recommended Post-->
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Nav -->
 {% include footer.html %}

  <!-- All JavaScript Files-->
 {% include js.html %}
</body>


</html>